tbody {
        display: table-row-group;
        vertical-align: middle;
        border-color: inherit;
}
tr {
        display: table-row;
        vertical-align: inherit;
        border-color: inherit;
        border: solid 1px inherit;
}
.storeChectSheet {
		width:98%;
		border:solid 1px inherit;
        border-collapse: collapse;
        border-spacing: 0;
        margin-top: 5px;
        margin-left: 2px;
        border-radius: 0 0 6px 6px;
        box-shadow: 0px 1px 2px #B9B9B9;
}
.storeChectSheet th {
        border-bottom: 1px solid #a4bcc6;
        border-right: 1px solid #b4c8d0;
        color: #000;
        line-height: 25px;
        height: 25px;
        font-weight: 500;
        white-space: nowrap!important;
        word-break: keep-all;
        word-wrap: normal;
        text-shadow: 3px 2px 5px #06c;
}
.orderClass{
	 font-weight: 500;
	 white-space: nowrap!important;
	 word-break: keep-all;
	 word-wrap: normal;
     text-shadow: 3px 2px 5px #06c;
     line-height: 25px;
}

.storeChectSheet td, .storeChectSheet th {
        font-size: 14px;
        line-height: 150%;
        text-align: center;
        padding: 2px 6px;
}
.storeChectSheet tr.write {
        background: #e0e9f2!important;
}
hr{
	border: 0px #06c solid;
    background-color: #06c; 
    height: 1px
} 

