<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.UserDao"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="userService" class="service.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    
    
    <bean id="roleDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.RoleDao"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="roleService" class="service.RoleServiceImpl">
        <property name="roleDao" ref="roleDao"></property>
    </bean>
    
    
    <bean id="funcDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="dao.FuncDao"></property>
        <property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
	</bean>
	
	<bean id="funcService" class="service.FuncServiceImpl">
        <property name="funcDao" ref="funcDao"></property>
    </bean>
    
    <bean id="storeDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="dao.StoreDao"/>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    
    <bean id="ditchDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="dao.DitchDao"/>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    
    <bean id="orderDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="dao.OrderDao"/>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    
    <bean id="dataDao" class="org.mybatis.spring.mapper.MapperFactoryBean">
    	<property name="mapperInterface" value="dao.DataDao"/>
    	<property name="sqlSessionFactory" ref="sqlSessionFactory"></property>
    </bean>
    
</beans>